!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "YouBooth"
    script(src='/javascripts/jquery-1.4.4.min.js')
    link(rel="stylesheet", href="/stylesheets/style.css", mediea="screen, projection")
  body
    #main
      != body
